@import 'colors';
@import 'mixins';

@font-face {
  font-family: 'Oswald';
  src: url('~assets/fonts/Oswald.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('~assets/fonts/Rubik.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  src: url('~assets/fonts/Rubik-Italic.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
li {
  color: $black;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0;
}
