@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'swiper/dist/css/swiper.css';
@import '@/node_modules/@braid/vue-formulate/themes/snow/snow';

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

#__nuxt,
#__layout {
  height: 100%;
}

#container {
  padding-top: 65px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
li {
  color: $black;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

// browser-update message styles
#container {
  .buorg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
  }
  .buorg-pad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .buorg-buttons {
    margin-top: 30px;
  }
  #buorgul {
    padding: 10px 20px;
  }
}
