@font-face {
  font-family: 'Oswald';
  src: url('~assets/fonts/Oswald.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('~assets/fonts/Rubik.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  src: url('~assets/fonts/Rubik-Italic.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  color: #1c1c1c;
}
